.fab {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6A1B9A;
  color: #FFFFFF;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  cursor: pointer; }
  .fab:hover {
    background-color: #8823c5; }
  .fab:active {
    background-color: #a13edd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #FFFFFF; }

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  .dialog .dialogBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }
  .dialog .dialogBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }

.container {
  display: flex;
  flex-direction: column; }
  .container .infoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; }
    .container .infoBar h3 {
      font-size: 1.4rem;
      color: #000000;
      width: 60%; }
    .container .infoBar button {
      color: #0097A7;
      border: none;
      padding: 0 8px;
      font-size: 1rem;
      min-width: 64px;
      height: 36px;
      font-weight: 500;
      border-radius: 4px;
      background-color: #FFFFFF;
      cursor: pointer;
      outline: none;
      transition: background-color 0.2s linear; }
      .container .infoBar button:hover {
        background-color: rgba(0, 151, 167, 0.12); }
      .container .infoBar button:active {
        background-color: rgba(0, 151, 167, 0.24); }
  .container #projects {
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: center; }
  @media screen and (min-width: 786px) {
    .container {
      flex-direction: row; } }

.card {
  margin: 5px 5px 10px 5px;
  max-width: 350px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  transition: 1s;
  position: relative;
  cursor: pointer; }
  .card .cardImage {
    transition: 1s; }
    .card .cardImage img {
      width: 100%;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      transition: 1s; }
  .card .cardText {
    display: flex;
    flex-direction: column;
    padding: 8px 12px 12px 12px;
    overflow: hidden;
    max-height: 95px;
    transition: 1s; }
    .card .cardText .cardTitle {
      font-size: 1.5em;
      margin-bottom: 6px; }
    .card .cardText .cardAuthor {
      font-size: 0.9em;
      margin-bottom: 6px;
      color: rgba(0, 0, 0, 0.6); }
  .card .cardButtons {
    display: flex;
    align-items: center;
    margin-top: 8px; }
    .card .cardButtons .cardLink {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none !important;
      color: #FFFFFF;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border: none;
      padding: 0 8px;
      font-size: 1rem;
      min-width: 64px;
      height: 36px;
      font-weight: 500;
      border-radius: 4px;
      background-color: #0097A7;
      cursor: pointer;
      outline: none;
      transition: background-color 0.2s linear, box-shadow 0.2s linear; }
      .card .cardButtons .cardLink:hover {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
      .card .cardButtons .cardLink:hover {
        background-color: #00a5b6; }
      .card .cardButtons .cardLink:active {
        background-color: #00bcd0; }
    .card .cardButtons .devButtons {
      display: none;
      margin-left: 4px; }
      .card .cardButtons .devButtons .iconButton {
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 4px;
        transition: 0.2s; }
        .card .cardButtons .devButtons .iconButton:hover {
          background-color: rgba(0, 0, 0, 0.07); }
        .card .cardButtons .devButtons .iconButton:active {
          background-color: rgba(0, 0, 0, 0.14); }
  .card.active {
    margin-top: 30px; }
    .card.active .cardImage {
      margin: 0 15px; }
      .card.active .cardImage img {
        margin-top: -15px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
        border-radius: 8px; }
    .card.active .cardText {
      max-height: 400px; }

/*# sourceMappingURL=main.css.map */
